{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../macros/csrf.njk" import csrfProtection %}
{% extends "template.njk" %}
{% block content %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Manage a Case",
        href: "/"
      },
      {
        text: "Case tasks",
        href: "/tasks"
      },
      {
        text: "View task",
        href: "/tasks/" + taskId + "/view"
      },
      {
        text: "Delete task",
        href: ""
      }
    ]
  }) }}
  <h1 class="govuk-heading-xl">Delete a task</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">You are
        <strong>deleting</strong>
        the below task.</p>
      {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "ID"
          },
          value: {
            text: taskId
          },
          actions: {
            items: []
          }
        },
        {
          key: {
            text: "Title"
          },
          value: {
            text: originalValues.title
          },
          actions: {
            items: []
          }
        }
      ]
      }) }}
      <p class="govuk-body">Are you sure you want to permanently delete this task?</p>
      <form method="post" action="">
        {{ csrfProtection(csrfToken) }}
        {{ govukButton({
            text: "Confirm and delete task",
            classes: "govuk-button--warning"
        }) }}
      </form>
      {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary",
        href: "/tasks/"+taskId+"/view"
    }) }}
    </div>
  </div>
{% endblock %}