{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../macros/csrf.njk" import csrfProtection %}
{% extends "template.njk" %}
{% block content %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Manage a Case",
        href: "/"
      },
      {
        text: "Case tasks",
        href: "/tasks"
      },
      {
        text: "View task",
        href: "/tasks/" + taskId + "/view"
      },
      {
        text: "Delete task",
        href: ""
      }
    ]
  }) }}
  <h1 class="govuk-heading-xl">Delete a task</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">You are
        <strong>deleting</strong>
        the below task.</p>
      {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "ID"
          },
          value: {
            text: taskId
          },
          actions: {
            items: []
          }
        },
        {
          key: {
            text: "Title"
          },
          value: {
            text: originalValues.title
          },
          actions: {
            items: []
          }
        }
      ]
      }) }}
      <p class="govuk-body">Are you sure you want to permanently delete this task?</p>
      <form method="post" action="">
        {{ csrfProtection(csrfToken) }}
        <div class="govuk-button-group">
          {{ govukButton({
              text: "Confirm and delete task",
              classes: "govuk-button--warning"
          }) }}
          <!-- This link will be altered dynamically by JS to make sure user is returned to where they came from -->
          <a class="govuk-link" id="delete-task-form-cancel-button" href="/tasks">Cancel</a>
        </div>
      </form>
    </div>
  </div>
  {% block scripts %}
    <script id="delete-task-form-cancel-button-action">
      /* The user can access the Delete Task page from either
    the Tasks index or the Task view page So for good UX
    we must make sure the cancel link returns them to the
    page they actually came from If they have no window
    history (came from nowhere), then we send them to the
    index as a fallback */
      const deleteTaskFormCancelButton = document.getElementById('delete-task-form-cancel-button');
      if (deleteTaskFormCancelButton) {
        deleteTaskFormCancelButton.addEventListener('click', e => { // In case the user does not have JS support, the button element does have a working link as fallback
          if (window.history.length > 1) { // Cancel fallback link
            e.preventDefault();
            // Send user to their client's previous page
            window.history.back();
          }
        });
      }
    </script>
  {% endblock %}
{% endblock %}