{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../macros/csrf.njk" import csrfProtection %}
{% extends "template.njk" %}
{% block content %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Case",
        href: "/"
      },
      {
        text: "View task",
        href: "/tasks/" + taskId
      },
      {
        text: "Edit task",
        href: ""
      }
    ]
  }) }}
  <h1 class="govuk-heading-xl">Edit a task</h1>
  {% if highlightedProperty=="delete-description" %}
    <h2 class="govuk-heading-l">Delete task's description</h1>
  {% else %}
    <h2 class="govuk-heading-l">Edit task {{ highlightedProperty }}</h1>
  {% endif %}
  <p class="govuk-body">You are editing the below task.</p>
  {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "ID"
          },
          value: {
            text: taskId
          },
          actions: {
            items: []
          }
        },
        {
          key: {
            text: "Title"
          },
          value: {
            text: originalValues.title
          },
          actions: {
            items: []
          }
        }
      ]
      }) }}
  {% if errors %}
    {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
  {% endif %}
  <form method="post" action="/tasks/{{ taskId }}/edit/{{ highlightedProperty }}">
    {{ csrfProtection(csrfToken) }}
    {% if highlightedProperty=="title" %}
      {{ govukInput({
    label: { text: "Task title" },
    id: "title",
    name: "title",
    value: values.title,
    errorMessage: errors | findError('title')
  }) }}
    {% endif %}
    {% if highlightedProperty=="description" %}
      {{ govukTextarea({
    label: { text: "Task description" },
    id: "description",
    name: "description",
    value: values.description,
    errorMessage: errors | findError('description')
  }) }}
    {% endif %}
    {% if highlightedProperty=="delete-description" %}
      <input type="hidden" name="description" value=""/>
      <p class="govuk-body">Clear this task's description?</p>
    {% endif %}
    {% if highlightedProperty=="due-date" %}
      {{ govukDateInput({
    id: "due-date-time",
    namePrefix: "due-date-time",
    fieldset: {
      legend: {
        text: "When is this task due?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "For example, 27 3 2026"
    },
    errorMessage: errors | findError('due-date-time')
  }) }}
    {% endif %}
    {% if highlightedProperty=="status" %}
      {{ govukSelect({
        id: "status",
        name: "status",
        label: {
          text: "Change this task's status"
        },
        items: [
          {
            value: "PENDING",
            text: "To do",
            selected: values.status == "PENDING"
          },
          {
            value: "IN_PROGRESS",
            text: "In progress",
            selected: values.status == "IN_PROGRESS"
          },
          {
            value: "DONE",
            text: "Done",
            selected: values.status == "DONE"
          }
        ]
      }) }}
    {% endif %}
    {% if highlightedProperty=="delete-description" %}
      {{ govukButton({ text: "Confirm" }) }}
    {% else %}
      {{ govukButton({ text: "Update task" }) }}
    {% endif %}
  </form>
  {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary",
        href: "/tasks/"+taskId
    }) }}
{% endblock %}