{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../macros/csrf.njk" import csrfProtection %}
{% extends "template.njk" %}
{% block content %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Manage a Case",
        href: "/"
      },
      {
        text: "Case tasks",
        href: "/tasks"
      },
      {
        text: "View task",
        href: "/tasks/" + taskId + "/view"
      },
      {
        text: "Edit task",
        href: ""
      }
    ]
  }) }}
  <h1 class="govuk-heading-xl">Edit a task</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if highlightedProperty=="delete-description" %}
        <p class="govuk-body">You are
          <strong>deleting the description</strong>
          of the below task.</p>
      {% else %}
        <p class="govuk-body">You are editing the
          <strong>{{ highlightedProperty }}</strong>
          of the below task.</p>
      {% endif %}
      {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "ID"
          },
          value: {
            text: taskId
          },
          actions: {
            items: []
          }
        },
        {
          key: {
            text: "Title"
          },
          value: {
            text: originalvaluesForInputs.title
          },
          actions: {
            items: []
          }
        }
      ]
      }) }}
      {% if errors %}
        {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
      {% endif %}
      <form method="post" action="/tasks/{{ taskId }}/edit/{{ highlightedProperty }}">
        {{ csrfProtection(csrfToken) }}
        {% if highlightedProperty=="title" %}
          {{ govukInput({
    label: { text: "Task title" },
    id: "title",
    name: "title",
    value: valuesForInputs.title,
    errorMessage: errors | findError('title')
  }) }}
        {% endif %}
        {% if highlightedProperty=="description" %}
          {{ govukTextarea({
    label: { text: "Task description" },
    id: "description",
    name: "description",
    value: valuesForInputs.description,
    errorMessage: errors | findError('description')
  }) }}
        {% endif %}
        {% if highlightedProperty=="delete-description" %}
          <input type="hidden" name="description" value=""/>
          <p class="govuk-body">Clear this task's description?</p>
        {% endif %}
        {% if highlightedProperty=="due-date" %}
          {{ govukDateInput({
    id: "due-date-time",
    namePrefix: "due-date-time",
    fieldset: {
      legend: {
        text: "When is this task due?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "For example, 27 3 2026"
    },
    errorMessage: errors | findError('due-date-time')
  }) }}
        {% endif %}
        {% if highlightedProperty=="status" %}
          {{ govukSelect({
        id: "status",
        name: "status",
        label: {
          text: "Change this task's status"
        },
        items: [
          {
            value: "PENDING",
            text: "To do",
            selected: valuesForInputs.status == "PENDING"
          },
          {
            value: "IN_PROGRESS",
            text: "In progress",
            selected: valuesForInputs.status == "IN_PROGRESS"
          },
          {
            value: "DONE",
            text: "Done",
            selected: valuesForInputs.status == "DONE"
          }
        ]
      }) }}
        {% endif %}
        <div class="govuk-button-group">
          {% if highlightedProperty=="delete-description" %}
            {{ govukButton({ text: "Confirm" }) }}
          {% else %}
            {{ govukButton({ text: "Save changes and continue" }) }}
          {% endif %}
          <a class="govuk-link" href="/tasks/{{ taskId }}/view">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}