{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% extends "template.njk" %}
<!-- This is the page for displaying a Case's Tasks -->
{% block content %}
    <h1 class="govuk-heading-xl">Manage a Case</h1>
    <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
            Contents
        </h2>
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="/">
                    Case details
                </a>
            </li>
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="/tasks">
                    Case tasks
                </a>
            </li>
        </ul>
        <div
            class="govuk-tabs__panel">
            <!-- Display Case task manager -->
            <h2 class="govuk-heading-l">Case tasks</h2>
            <p class="govuk-body">Here you may manage the tasks for this case.</p>
            {{ govukButton({
                text: "Create a task",
                href: "/tasks/new",
                isStartButton: true
            }) }}
            {% if statusFilter == "ANY" %}
                {% if taskPage.totalElements == 1 %}
                    <p class="govuk-body">There is 1 task for this case.</p>
                {% else %}
                    <p class="govuk-body">There are {{ taskPage.totalElements }} tasks for this case.</p>
                {% endif %}
            {% else %}
                {% if taskPage.totalElements == 1 %}
                    <p class="govuk-body">There is 1 task that matches the applied filters.</p>
                {% else %}
                    <p class="govuk-body">There are {{ taskPage.totalElements }} tasks that match the applied filters.</p>
                {% endif %}
            {% endif %}
            {% if taskPage.totalElements > 0 or statusFilter !== "ANY" %}
                {% if taskPage.totalElements > 0 %}
                    {{ govukTable({
                        caption: "Tasks",
                        captionClasses: "govuk-table__caption--m",
                        firstCellIsHeader: false,
                        head: [
                            { text: "Title" },
                            { text: "Due date" },
                            { text: "Status" },
                            { text: "Actions" }
                        ],
                        rows: tasksAsTableRows
                    }) }}
                {% endif %}
                {{ govukPagination({
                    previous: taskPage.number > 0 and {
                        "href": "/tasks/?page=" + (taskPage.number - 1) + "&sortBy=" + sortBy + "&direction=" + direction + "&statusFilter=" + statusFilter
                    },
                    next: taskPage.number < totalPages - 1 and {
                        "href": "/tasks/?page=" + (taskPage.number + 1) + "&sortBy=" + sortBy + "&direction=" + direction + "&statusFilter=" + statusFilter
                    },
                    items: paginationItems
                }) }}
                <form method="get" action="">
                    {{ govukSelect({
                        id: "sortBy",
                        name: "sortBy",
                        label: {
                        text: "Sort tasks by"
                        },
                        items: [
                        {
                            value: "dueDateTime",
                            text: "Due date",
                            selected: sortBy == "dueDateTime"
                        },
                        {
                            value: "title",
                            text: "Title A-Z",
                            selected: sortBy == "title"
                        }
                        ]
                    }) }}
                    {{ govukSelect({
                        id: "direction",
                        name: "direction",
                        label: {
                        text: "Sort tasks in what order"
                        },
                        items: [
                        {
                            value: "asc",
                            text: "Ascending order",
                            selected: direction == "asc"
                        },
                        {
                            value: "desc",
                            text: "Descending order",
                            selected: direction == "desc"
                        }
                        ]
                    }) }}
                    {{ govukSelect({
                        id: "statusFilter",
                        name: "statusFilter",
                        label: {
                        text: "Only show tasks with a status of"
                        },
                        items: [
                            {
                                value: "ANY",
                                text: "Any status",
                                selected: statusFilter == "ANY"
                            },
                            {
                                value: "PENDING",
                                text: "To do",
                                selected: statusFilter == "PENDING"
                            },
                            {
                                value: "IN_PROGRESS",
                                text: "In progress",
                                selected: statusFilter == "IN_PROGRESS"
                            },
                            {
                                value: "DONE",
                                text: "Done",
                                selected: statusFilter == "DONE"
                            }
                        ]
                    }) }}
                    <input type="hidden" name="page" value="0"/>
                    {{ govukButton({ text: "Apply sort and filters" }) }}
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}