{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../macros/csrf.njk" import csrfProtection %}
{% extends "template.njk" %}
{% block content %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Manage a Case",
        href: "/"
      },
      {
        text: "Case tasks",
        href: "/tasks"
      },
      {
        text: "Create a task",
        href: ""
      }
    ]
  }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Create a task</h1>
      <p class="govuk-body">You are
        <strong>creating a task</strong>
        for the Case.</p>
      {% if errors %}
        {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
      {% endif %}
      <form method="post" action="/tasks/new">
        {{ csrfProtection(csrfToken) }}
        {{ govukInput({
    label: { text: "Task title" },
    id: "title",
    name: "title",
    value: values.title,
    errorMessage: errors | findError('title')
  }) }}
        {{ govukTextarea({
    label: { text: "Task description" },
    id: "description",
    name: "description",
    value: values.description,
    errorMessage: errors | findError('description')
  }) }}
        {{ govukDateInput({
  id: "due-date-time",
  namePrefix: "due-date-time",
  fieldset: {
    legend: {
      text: "When is this task due?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "For example, 27 3 2026"
  },
  errorMessage: errors | findError('due-date-time')
}) }}
        <div class="govuk-button-group">
          {{ govukButton({ text: "Create task" }) }}
          <a class="govuk-link" href="/tasks">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}