{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% extends "template.njk" %}
<!-- This is the page for a single Task -->
{% block content %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Case",
        href: "/"
      },
      {
        text: "View task",
        href: ""
      }
    ]
  }) }}
  <h1 class="govuk-heading-xl">View a task</h1>
  {% if task.id %}
    {{ govukSummaryList({
      card: {
        title: {
          text: "Task ID: " + task.id
        }
      },
      rows: [
        {
          key: { text: "Title" },
          value: { text: task.title },
          actions: {
            items: [
              {
                href: "/tasks/"+task.id+"/edit/title",
                text: "Change",
                visuallyHiddenText: "Change task title?"
              }
            ]
          }
        },
        {
          key: { text: "Description" },
          value: { text: task.description },
          actions: {
            items: [
              {
                 href: "/tasks/"+task.id+"/edit/delete-description",
                 text: "Delete",
                 visuallyHiddenText: "Delete description"
              },
              {
                href: "/tasks/"+task.id+"/edit/description",
                text: "Change",
                visuallyHiddenText: "Change task description?"
              }
            ]
          }
        },
        {
          key: { text: "Status" },
          value: { text: taskStatusUserFriendly },
          actions: {
            items: [
              {
                href: "/tasks/"+task.id+"/edit/status",
                text: "Change",
                visuallyHiddenText: "Change task status?"
              }
            ]
          }
        },
        {
          key: { text: "Due Date" },
          value: { text: task.dueDateTime },
          actions: {
            items: [
              {
                href: "/tasks/"+task.id+"/edit/due-date",
                text: "Change",
                visuallyHiddenText: "Change due date?"
              }
            ]
          }
        }
      ]
    }) }}
  {% endif %}
{% endblock %}