{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "template.njk" %}
<!-- This is the page for a single Case -->
{% block content %}
  <h1 class="govuk-heading-xl">Manage a Case</h1>
  {% if case.id %}
    <!-- Display case metadata -->
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "ID"
          },
          value: {
            text: case.id
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "change case id ?!"
              }
            ]
          }
        },
        {
          key: {
            text: "Case Number"
          },
          value: {
            text: case.caseNumber
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "change case number"
              }
            ]
          }
        },
        {
          key: {
            text: "Title"
          },
          value: {
            html: case.title
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "change case title"
              }
            ]
          }
        },
        {
          key: {
            text: "Description"
          },
          value: {
            html: case.description
          },
          actions: {
            items: [
               {
                 href: "#",
                 text: "Delete",
                 visuallyHiddenText: "Delete description"
               },
               {
                 href: "#",
                 text: "Change",
                 visuallyHiddenText: "Change description"
               }
            ]
          }
        },
        {
          key: {
            text: "Status"
          },
          value: {
            html: case.status
          },
          actions: {
            items: [
            ]
          }
        },
        {
          key: {
           text: "Created Date"
          },
          value: {
           html: case.createdDate
          },
          actions: {
           items: [
           ]
          }
        }
      ]
    }) }}
    <!-- Task manager -->
    <h2 class="govuk-heading-l">Case tasks</h2>
    <p class="govuk-body">Here you may manage the tasks for this case.</p>
    {{ govukButton({
      text: "Create a task",
      href: "/tasks/new",
      isStartButton: true
    }) }}
    <p class="govuk-body">There are {{ case.tasks.length }} tasks for this case.</p>
    {% for task in case.tasks %}
      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-6",
      rows: [
        {
          key: { text: "Title" },
          value: { text: task.title }
        },
        {
          key: { text: "Description" },
          value: { text: task.description }
        },
        {
          key: { text: "Status" },
          value: { text: task.status }
        }
      ]
    }) }}
    {% endfor %}
  {% endif %}
{% endblock %}