{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% extends "template.njk" %}
<!-- This is the page for a single Case -->
{% block content %}
  <h1 class="govuk-heading-xl">Manage a Case</h1>
  {% if case.id %}
    <!-- Display case metadata -->
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "ID"
          },
          value: {
            text: case.id
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "change case id ?!"
              }
            ]
          }
        },
        {
          key: {
            text: "Case Number"
          },
          value: {
            text: case.caseNumber
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "change case number"
              }
            ]
          }
        },
        {
          key: {
            text: "Title"
          },
          value: {
            html: case.title
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "change case title"
              }
            ]
          }
        },
        {
          key: {
            text: "Description"
          },
          value: {
            html: case.description
          },
          actions: {
            items: [
               {
                 href: "#",
                 text: "Delete",
                 visuallyHiddenText: "Delete description"
               },
               {
                 href: "#",
                 text: "Change",
                 visuallyHiddenText: "Change description"
               }
            ]
          }
        },
        {
          key: {
            text: "Status"
          },
          value: {
            html: case.status
          },
          actions: {
            items: [
            ]
          }
        },
        {
          key: {
           text: "Created Date"
          },
          value: {
           html: case.createdDate
          },
          actions: {
           items: [
           ]
          }
        }
      ]
    }) }}
    <!-- Task manager -->
    <h2 class="govuk-heading-l">Case tasks</h2>
    <p class="govuk-body">Here you may manage the tasks for this case.</p>
    {{ govukButton({
      text: "Create a task",
      href: "/tasks/new/"+case.id,
      isStartButton: true
    }) }}
    {% if taskPage.totalElements == 1 %}
      <p class="govuk-body">There is 1 task for this case.</p>
    {% else %}
      <p class="govuk-body">There are {{ taskPage.totalElements }} tasks for this case.</p>
    {% endif %}
    <form method="get" action="">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          {{ govukSelect({
              id: "sortBy",
              name: "sortBy",
              label: {
                text: "Sort tasks by"
              },
              items: [
                {
                  value: "dueDateTime",
                  text: "Due date",
                  selected: sortBy == "dueDateTime"
                },
                {
                  value: "status",
                  text: "Status",
                  selected: sortBy == "status"
                },
                {
                  value: "title",
                  text: "Title A-Z",
                  selected: values.status == "title"
                }
              ]
            }) }}
        </div>
        <div class="govuk-grid-column-one-third">
          {{ govukSelect({
              id: "direction",
              name: "direction",
              label: {
                text: "Sort tasks in what order"
              },
              items: [
                {
                  value: "asc",
                  text: "Ascending order",
                  selected: direction == "asc"
                },
                {
                  value: "desc",
                  text: "Descending order",
                  selected: direction == "desc"
                }
              ]
            }) }}
        </div>
        <div class="govuk-grid-column-one-third">
          {{ govukButton({ text: "Apply" }) }}
        </div>
      </div>
      <input type="hidden" name="page" value="0"/>
    </form>
    {% for task in taskPage.content %}
      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-6",
      rows: [
        {
          key: { text: "Title" },
          value: { text: task.title },
          actions: {
            items: [
              {
                href: "/tasks/edit/"+task.id+"/title",
                text: "Change",
                visuallyHiddenText: "Change task title?"
              }
            ]
          }
        },
        {
          key: { text: "Description" },
          value: { text: task.description },
          actions: {
            items: [
              {
                 href: "/tasks/edit/"+task.id+"/delete-description",
                 text: "Delete",
                 visuallyHiddenText: "Delete description"
              },
              {
                href: "/tasks/edit/"+task.id+"/description",
                text: "Change",
                visuallyHiddenText: "Change task description?"
              }
            ]
          }
        },
        {
          key: { text: "Status" },
          value: { text: task.status },
          actions: {
            items: [
              {
                href: "/tasks/edit/"+task.id+"/status",
                text: "Change",
                visuallyHiddenText: "Change task status?"
              }
            ]
          }
        },
        {
          key: { text: "Due Date" },
          value: { text: task.dueDateTime },
          actions: {
            items: [
              {
                href: "/tasks/edit/"+task.id+"/due-date",
                text: "Change",
                visuallyHiddenText: "Change due date?"
              }
            ]
          }
        }
      ]
    }) }}
    {% endfor %}
    {{ govukPagination({
      previous: taskPage.number > 0 and {
        "href": "./?page=" + (taskPage.number - 1) + "&sortBy=" + sortBy + "&direction=" + direction
      },
      next: taskPage.number < totalPages - 1 and {
        "href": "./?page=" + (taskPage.number + 1) + "&sortBy=" + sortBy + "&direction=" + direction
      },
      items: paginationItems
    }) }}
  {% endif %}
{% endblock %}