{% extends "template.njk" %}
{% block content %}
  <h1 class="govuk-heading-xl">Page not found</h1>
  <p class="govuk-body">The link may be broken or the resource may have been moved.</p>
  <a class="govuk-button" href="/">Continue to homepage</a>
{% endblock %}